/booking-api/.idea/misc.xml
/booking-api/target/

# IntelliJ project files
.idea/

# Compiled output
target/

# Editor-specific files
*.iml
*.iws
*.ipr

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db